<div
  [id]="modalId()"
  class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto"
  role="dialog"
  [attr.tabindex]="-1"
  [attr.aria-labelledby]="modalId() + '-label'"
  (click)="closeModal($event)"
>
  <div
    class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-3xl sm:w-full m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center pointer-events-none"
  >
    <div
      class="w-full flex flex-col bg-surface border border-border shadow-2xs rounded-xl pointer-events-auto"
    >
      <div
        class="flex justify-between items-center py-3 px-4 border-b border-border"
      >
        <h3
          [id]="modalId() + '-label'"
          class="font-bold text-text-primary"
        >
          {{ title() }}
        </h3>
        <button
          type="button"
          class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-surface-hover text-text-primary hover:opacity-90 focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none"
          [attr.aria-label]="'Close'"
          [attr.data-hs-overlay]="'#' + modalId()"
        >
          <span class="sr-only">Close</span>
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="p-4 overflow-y-auto">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
