:host {
  background-color: transparent;
  border-color: transparent;
}

@layer components {
  input[type="text"],
  input:where(:not([type])),
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="week"] {
    appearance: none;
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    background-color: var(--color-surface);
    opacity: 1;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
