<div class="w-full">
  @if (label()) {
    <label
      [for]="inputId() || control().value"
      class="block text-sm font-medium mb-2 text-text-primary"
    >
      {{ label() }}
    </label>
  }
  <div class="relative">
    @if (icon()) {
      <div
        class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4"
      >
        <i-lucide
          [img]="icon()"
          [size]="20"
          class="text-text-muted"
        ></i-lucide>
      </div>
    }
    <input
      [formControl]="control()"
      aria-label="input"
      [type]="type()"
      [id]="inputId() || control().value"
      class="py-2.5 sm:py-3 block w-full border border-border rounded-lg text-sm bg-surface text-text-primary placeholder:text-text-secondary focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none"
      [class.ps-11]="icon()"
      [class.pe-4]="icon()"
      [class.px-4]="!icon()"
      [placeholder]="placeholder()"
    />
  </div>
</div>