<div class="w-full">
  @if (label()) {
    <label
      [for]="inputId() || control().value"
      class="block text-sm font-medium mb-2 text-text-primary"
    >
      {{ label() }}
      @if (required()) {
        <span [class]="error() ? 'text-md text-error' : (validation() ? 'text-md text-success' : 'text-md')">*</span>
      }
    </label>
  }
  <div class="relative">
    @if (icon()) {
      <div
        class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4"
      >
        <i-lucide
          [img]="icon()"
          [size]="20"
          class="text-text-muted"
        ></i-lucide>
      </div>
    }
    <input
      [required]="required()"
      [formControl]="control()"
      aria-label="input"
      [type]="type()"
      [id]="inputId() || control().value"
      [attr.aria-describedby]="error() ? inputId() + '-error-helper' : (validation() ? inputId() + '-validation-helper' : null)"
      class="py-2.5 sm:py-3 block w-full border rounded-lg text-sm bg-surface text-text-primary placeholder:text-text-secondary focus:ring disabled:opacity-50 disabled:pointer-events-none"
      [class.border-border]="!error() && !validation()"
      [class.border-error]="error()"
      [class.border-success]="validation() && !error()"
      [class.focus:border-primary]="!error() && !validation()"
      [class.focus:ring-primary]="!error() && !validation()"
      [class.focus:border-error]="error()"
      [class.focus:ring-error]="error()"
      [class.focus:border-success]="validation() && !error()"
      [class.focus:ring-success]="validation() && !error()"
      [class.ps-11]="icon()"
      [class.pe-11]="error() || validation()"
      [class.pe-4]="!error() && !validation()"
      [class.px-4]="!icon()"
      [placeholder]="placeholder()"
    />
    @if (error() || validation()) {
      <div
        class="absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3"
      >
        <i-lucide
          [img]="error() ? AlertCircleIcon : CheckCircleIcon"
          [size]="16"
          [class]="error() ? 'text-error' : 'text-success'"
        ></i-lucide>
      </div>
    }
  </div>
  @if (error() || validation()) {
    <p
      [id]="error() ? inputId() + '-error-helper' : inputId() + '-validation-helper'"
      [class]="error() ? 'text-sm text-error mt-2' : 'text-sm text-success mt-2'"
    >
      {{ error() || validation() }}
    </p>
  }
</div>